@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Fira Code', monospace;
    color: #ABB2BF;

}
::-webkit-scrollbar{
    width: .6rem;
    background-color: #e0e0e0;        
}
::-webkit-scrollbar-thumb{
    background-color: #3b3b3b;
    border-radius: .3rem;
}
body{
    background-color: #282C33;

}

/* Header Section */

header{
    width: 100%;
    height: 5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    gap: 15rem;
}
header.ativo{
    background-color: #282C33;
}
span{
    color: #8edd78;
}
iframe{
    width: 20rem;
    height: 60rem;
}
.logo{
    font-size: 1.3rem;
    cursor: pointer;
    color: #FFF;
}
.logo i{
    color: #8edd78;
}
#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #282C33;
}
#menu{
    display: flex;
    gap: 3rem;
}
#menu a{
    position: relative;
}
#menu a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}
#menu a:hover::after{
    width: 100%;
}
.menu-option{
    color: #ABB2BF;
    font-size: 1rem;
}
.menu-option:hover{
    color: #fff;
    transition: .2s;
}

/* Section 1 */

.section-1-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
}
.section-1{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.section-1-tittle{
    width: 30rem;
    font-size: 2rem; 
}
.section-1-text{
    width: 26.5rem;
}
.section-contact-me{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8edd78;
    height: 3rem;
    width: 8rem;
}
.section-contact-me:hover{
    background-color: #8edd78;
    transition: 0.2s;
    color: #FFF;
}
.section-1-img{
    width: 27rem;
    margin: 3rem 0;
}

/* Phrease section */

.daily-phrase{
    display: flex;
    justify-content: center;
    align-items: center;
}
.phrase-block{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 31rem;
    height: 4rem;
}
.phrase{
    font-size: 1.2rem;
    color: #fff;
}

/* Section 2 */

.projects-content{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}
.view-all{
    font-size: 1rem;
}
.view-all:hover{
    color: #fff;
    transition: .2s;
}
.projects{
    width: 20rem;
    border: 2px solid #ABB2BF;
    height: 23rem;
}
.projects-list{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.technologies{
    text-align: center;
    height: 2rem;
    border-bottom: 2px solid #ABB2BF;
    margin: .3rem 0;
}
.website-name{
    color: #fff;
}
.deploy-code{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.deploy, .code{
    display: flex;
    align-items: center;
    gap: .8rem;
    justify-content: center;
    width: 6rem;
    height: 2rem;
    border: 2px solid #ABB2BF;
}
.deploy:hover, .code:hover{
    border: 2px solid #8edd78;
    transition: .2s;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}
.website-img{
    width: 100%;
    height: 12rem;
}

/* Skills section */

.skills-content{
    display: flex;
    justify-content: flex-start;
    margin: 3rem 0 3rem 17rem;
}
.skills-container{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.skills-box{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ABB2BF;
}
.skills-box-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.5rem;
    border-bottom: 1px solid #ABB2BF;
    color: #FFF;
}
.skills-box-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
}
.skills-container-img{
    width: 16rem;
}

/* About section */
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.about-content{
    display: flex;
    justify-content: flex-start;
    margin: 3rem 0 3rem 17rem;
}
.about-text-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}
.about-img{
    width: 20rem;
}
.text-btn{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.about-btns{
    display: flex;
    gap: 2rem;
}
.linkedin-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    border: 1px solid #ABB2BF;
    gap: 1rem;
}
.linkedin-btn:hover{
    border: 1px solid #8edd78;
}

/* Contact section */

.contact-section{
    display: flex;
    justify-content: center;
    gap: 9rem;
}
.contact-text{
    width: 32rem;
}
.contact-container h1{
    font-size: 1rem;
}
.email-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 4rem;
    gap: .6rem;
    border: 1px solid #8edd78;
}

/* Footer */

.footer{
    margin-top: 3rem;
    width: 100%;
    height: 10rem;
    border-top: 1px solid #ABB2BF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.my-email:hover{
    color: #8edd78;
}
.name i{
    color: #8edd78;
}
.footer h1{
    font-size: 1.2rem;
}
.footer-tittle{
    display: flex;
    flex-direction: column;
    width: 16rem;
    gap: 1rem;
}
.footer-media{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-media h1{
    text-align: center;
}
.social-medias{
    display: flex;
    gap: 1rem;
}
.social-medias i:hover{
    color: #8edd78;
}

.copyrigth{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}


#btn-mobile{
    display: none;
}

@media (max-width: 800px){

    /* Header Section */
    
    .header{
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
    }
    .logo{
        margin-left: 1.5rem;
    }

    #menu{
        display: block;
        position: absolute;
        width: 80%;
        top: 4.3rem;
        right: 0px;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        z-index: 1000 ; 
    }
    #nav.active #menu{
        height: calc(60% - 70px);
        visibility: visible;
        overflow-y: auto;
        background-color: #282C33;

    }
    #menu a{
        display: block;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        align-items: center;
        font-size: 1.3rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 0.125rem solid;
        width: 1.25rem;
        color: #fff;
    }
    #hamburguer::after, #hamburguer::before{
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;

    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
    /* Section 1 */

    .section-1-content{
        margin-top: 2rem;
        flex-direction: column;
        gap: 0;
        
    }
    .section-1{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .section-1-tittle{
        width: 20rem;
    }
    .section-1-text{
        width: 20rem;
    }
    .section-1-img{
        width: 18rem;
        margin-top: 2rem;
    }
    .phrase-block{
        width: 20rem;
        height: 4.4rem;
    }
    .phrase{
        font-size: .85rem;
    }

    /* Section 2 */

    .projects-content{
        margin: 3rem 2rem;
        flex-direction: column;
        gap: 2rem;
    }
    .projects-tittle{
        font-size: 1rem;
    }
    .view-all{
        font-size: 1rem;
    }
    .projects-list{
        flex-direction: column;
        align-items: center;
    }
    .projects{
        width: 18rem;
    }
    
    /* Skills section */

    .skills-content{
        font-size: .8rem;
        margin: 3rem 2rem;
    }
    .skills-container{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
    .skills-box{
        width: 80%;
        margin: auto 2rem;
    }
    .box{
        width: 8rem;
        align-items: center;
        justify-content: center;
    }
    .skills-box-tittle{
        font-size: 1rem;
        width: 8rem;
    }
    .skills-box-elements{
        font-size: .8rem;
    }
    .skills-container-img{
        width: 12rem;
    }

    /* About section */
            
    .about-container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .about-content{
        font-size: .7rem;
        margin: 3rem 2rem;
    }
    .about-text-group{
        text-align: justify;
        margin: 0 2rem;
        width: 20rem;
        gap: 1rem;
    }
    .about-btns{
        gap: 1rem;
    }
    .linkedin-btn{
        margin: auto;
    }

    /* Contact section */

    .contact-section{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .contact-text{
        width: 20rem;
        text-align: center;
    }
    .my-email:hover{
        color: #8edd78;
    }

        /* Footer */

    .footer{
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    .footer h1{
        font-size: 1rem;
    }
    .footer-tittle{
        margin-top: 2rem;
        align-items: center;
    }
    .footer-media{
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }
    .footer-media h1{
        text-align: center;
    }
    .social-medias{
        display: flex;
        gap: 1rem;
    }
    .social-medias i:hover{
        color: #8edd78;
    }

    .copyrigth{
        text-align: center;
        font-size: .8rem;
        margin: 2rem 0;
    }

}